= render "layouts/instructor_nav"
= render "layouts/flash"
.row
  .small-12.columns
    %h2 New Course
    = form_for @course do |f|
      = f.label :title
      = f.text_field :title
      = f.submit "Save", class: 'button tiny radius'