- if current_instructor
  %h2= @course.title
  = link_to "activate code", course_meetings_path(@course), method: :post
  %h3 Students
  - @course_enrollments.each do |enrollment|
    = enrollment.student.name
  %h3 Meetings
  - @course_meetings.each do |meeting|
    = meeting.created_at

- if current_student
  %h2= @course.title
  = link_to "Enter Today's Code", new_course_attendance_path(@course)