- if current_instructor
  = render "layouts/instructor_nav"
  = render "layouts/flash"
  .row
    .small-12.columns
      %h2= @course.title
      = link_to "activate code", course_meetings_path(@course), method: :post
  .row
    .small-6.columns
      .panel.course
        %h4 Students
        - @course_enrollments.each do |enrollment|
          = enrollment.student.name
    .small-6.columns
      .panel.course
        %h4 Meetings
        %ul
          - @course_meetings.each do |meeting|
            %li= link_to meeting.created_at.strftime('%a %d %b %Y'), course_meeting_path(@course, meeting)


- if current_student
  = render "layouts/student_nav"
  = render "layouts/flash"
  .row
    .small-12.columns
      %h2= @course.title
      = link_to "Enter Today's Code", new_course_attendance_path(@course)