= render "layouts/student_nav"
= render "layouts/flash"
.row
  .small-12.columns
    %h2= Date.today.strftime('%a %d %b %Y')
    = form_for @attendance do |f|
      = f.label :code
      = f.text_field :code
      = f.submit "Enter", class: 'button tiny radius'
