%nav.top-bar
  %ul.title-area
    %li
      .name
        %h1#title
          = link_to "Bueller", static_pages_instructor_path
  %section.top-bar-section
    %ul.right
      %li= link_to 'Instructor', '#'
      %li.divider
      - if current_instructor
        %li= link_to 'Sign Out', destroy_instructor_session_path, method: :delete
        %li.divider
        %li= link_to 'Home', static_pages_instructor_path
      - else
        %li= link_to 'Sign Up', new_instructor_registration_path
        %li.divider
        %li= link_to 'Sign In', new_instructor_session_path