!!!
%html
  %head
    %title Unit4AttendanceTracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if current_instructor
      = link_to 'Sign Out', destroy_instructor_session_path, method: :delete
    - else
      = link_to 'Sign Up', new_instructor_path
      = link_to 'Sign In', new_instructor_session_path
    = yield
    = flash.notice
    = flash.alert